/*styles for all blocks lesson 1-2*/

body {
    margin: 0;
    padding: 0;
}

div.container {
    width: 1600px;
    background-image: url('./img/Layer\ 20@1X.png')
}

.block-header-info {
    color: black;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 1600px;
    margin-top: 72px;
    margin-bottom: 35px;
}

.block-header-description {
    width: 1600px;
    text-align: center;
    font-size: 18px;
}

.block-header-line {
    margin-top: 52px;
    margin-bottom: 70px;
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    border: none;
}

.text-color-yellow{
    color: #f1ad1d
}

/*header*/

div.header {
    width: 1600px;
    height: 900px;
    background-image: url("./img/Layer\ 21@1X.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white
}

.headers-info {
    padding-top: 582px;
    padding-left: 215px;
}

div.header1 {
    font-size: 48px;
    text-transform: uppercase;
}

div.header2 {
    font-size: 18px;
    text-transform: capitalize;
}

div.blocks-header {
    margin-top: 2px;
    width: 831px;
    height: 129px;
    border: 1px solid #87c0c8;
    background-color: rgba(0, 0, 0, .2);
    font-weight: bold;
    font-size: 54px;
    box-sizing: border-box;
    /*
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    */
    line-height: 2;
    padding-left: 30px;
    font-variant: small-caps
}

div.blocks-header>span {
    color: #f1ad1d;
}

/*awards lesson 3-4*/

div.awards {
    width: 1600px;
    text-align: center;
}

/*nav block*/

.nav-menu {
    width: 1600px;
    margin-top: 35px;
}

.nav-container {
    width: 1169px;
    margin: 0 auto;
    margin-bottom: 33px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #f1ad1d;
    text-align: justify;
}

.nav-container h2 {
    display: inline-block;
    text-transform: uppercase;
    color: #f1ad1d;
    width: 350px
}

.nav-container ul {
    display: inline-block;
    width: 800px
}

.nav-item {
    list-style: none;
    font-variant: small-caps;
    display: inline-block;
    margin-right: 62px;
    font-size: 18px;
    color: black;
    text-align: right;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

/*Our services*/
.our-services-info{
    width: 1169px;
    margin: 0 auto;
}

.our-services-info > div{
    width: calc(1150px / 2);
    display: inline-block;
    vertical-align: bottom;
}
.our-services-image{
    width: 270px;
    height: 148px;
    display: inline-block;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: 10px;
}
.our-services-image > img{
    width: 270px;
    height: 148px;
}

.our-services-header{
    text-transform: uppercase;
    text-align: center;
}
.our-services-header + div > p {
    font-size: 16px;
}

div.button{
    width: 176px;
    height: 51px;
    background-color: #f1ad1d;
    color:white;
    text-align: center;
    line-height: 4;
    font-size: 14px;
}
.our-services-align{
    padding-bottom: 10px;
    padding-left: 10px;
}