.btn {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding: 6px 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-black {
    border-width: 2px;
    border-color: #000;
    background: #000;
    color: #fff;
}

.btn.btn-black:hover {
    color: #000;
    background-color: transparent;
}

.btn.btn-black.btn-outline-black {
    color: #000;
    background-color: transparent;
}

.btn.btn-black.btn-outline-black:hover {
    border-color: #000;
    background: #000;
    color: #fff;
}

.btn.btn-white {
    border-width: 2px;
    border-color: #fff;
    background: #fff;
    color: #000;
}

.btn.btn-white:hover {
    color: #fff;
    background-color: transparent;
}

.btn.btn-white.btn-outline-white {
    color: #fff;
    background-color: transparent;
}

.btn.btn-white.btn-outline-white:hover {
    border-color: #fff;
    background: #fff;
    color: #000;
}