.insane-pic {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 80px);
  grid-gap: 10px;
  background-color: #aa1109;
  border: 15px solid gray;

}
.r1c1{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: lightgray;
}
.r1c2{
  grid-column-start: 3;
  grid-column-end: 6;
  background-color: lightgray;
}
.r1c3 {
  background-color:black;
}
.r1c4 {
  background-color: lightgray;
}
.r2c1 {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: lightgray;
}
.r2c2 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 6;
  background-color: blue;
}
.r2c3 {
  grid-column: 6/8;
  grid-row: 2/4;
  background-color: lightyellow;

}
.r3c1{
  grid-row:4/span 3;
  background-color:lightgray ;
}
.r3c2{
  grid-row:4/span 2;
  background-color: lightgray;
}
.r3c3{
  grid-row:4/span 2;
  background-color: #0055aa;
}
.r4c1{
  grid-area: 6 / 2 / span 2 / span 2;
  background-color: red ;
}
.r4c2 {
  grid-column: 4/ span 2;
  background: lightgray;
}

.r4c3 {
  grid-column: 6/span 2;
  background: lightgray;
}

.r5c1 {
  grid-row: 7/ span 3;
  background-color: yellow;
}
.r5c2 {
  grid-column: 4/ span 2;
  background-color: lightgrey;

}




















