.grid-parent {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 1fr;
  /*grid-column-gap: 10px;*/
  /*grid-row-gap: 20px;*/
  grid-gap: 20px 10px;
}

.grid-child {
  height: 50px;
  background-color: teal;
}

.ramda-wrapper {
  height: 600px;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
      "header header header"
      "navbar main main"
      "navbar main main"
      ". main main"
      "footer footer footer";
}

.header {
  grid-area: header;
  background-color: red;
}

.navbar {
  grid-area: navbar;
  background-color: rosybrown;
}

.content {
  grid-area: main;
  background-color: olivedrab;
}

.footer {
  grid-area: footer;
  background-color: palegreen;
}










