.header {
    width: 1600px;
    height: 900px;
    background-image: url("../image/Layer\ 21@1X.png");
}

.sertiz {
    font-size: 48px;
    color: white
}

.awesome {
    font-size: 18px;
    color: white
}

.we > span {
    color: #f1ad1d;
    text-align: left ;
}

.header-container {
    padding-top: 531px;
    padding-left: 215px;
}

.we{
    border: 1px solid white;
    width: 831px;
    font-size: 54px;
    padding: 34.5px 30px;
}
