.logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;

    &__letter {
        background-color: green;
    }

    &__text {
        font-size: 18px;
    }

    &__text_bolder {}

}
