.basic-page {
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

/*
.container {
    max-width: 1200px;
    margin: 0 auto;
}
*/

.logo {
    text-decoration: none;
}

.logo__text {
    color: #ffffff;
    text-transform: uppercase;
}

.logo__text_size-lg {
    font-size: 36px;
}

/* HEADER */

.header {
    background-color: #9933cc;
/*    padding: 90px;*/
}

/*
.header__content {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    
}
*/

.header__title {
    font-size: 36px;
    color: #ffffff;
}

.header__contacts {
    color: #ffffff;
/*    text-align: right;*/
}

.header__contacts-text {
    font-size: 18px;
    line-height: 1.5;
}

/* MAIN */

.main {
    padding: 25px 0;
}

.main__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__left-col {
    width: 25%;
    padding-right: 15px;
    box-sizing: border-box;
}

.main__center-col {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.main__right-col {
    width: 25%;
    padding-left: 15px;
    box-sizing: border-box;
}



/* MENU ASIDE */

.menu-aside {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-aside__item {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu-aside__link {
    text-decoration: none;
    color: #ffffff;
}

/* MAIN TEXT */

.main__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.main__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* BLOG ASIDE */

.aside-news {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

.aside-news__item {
    margin-bottom: 15px;
}

.aside-news__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aside-news__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* FOOTER */

.footer {
    background-color: #0099cc;

    padding: 20px;
    box-sizing: border-box;
}


.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__slogan {
    font-size: 12px;
    color: #ffffff;
}

.footer__contacts {
    color: #ffffff;
    text-align: right;
}

.footer__contacts-text {
    font-size: 18px;
    line-height: 1.5;
}


