@mixin linkBtn {
    display: block;
    display: inline-block;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}