.btn {
  color: red;
  display: inline-block;
  text-decoration: none;
}

.btn-large {
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
}

/*# sourceMappingURL=example.css.map */
