.navbar {
  padding: 30px 0;
}
.navbar-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.btn {
  display: block;
  display: inline-block;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-section {
  padding: 45px 0;
}

.input-error {
  border: 1px solid red;
}

.file-error {
  color: red;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}
.navbar li {
  margin-right: 10px;
}
.navbar a {
  text-decoration: none;
  color: red;
  font: Arial, sans-serif;
}
.navbar a.selected {
  font-weight: bold;
}

.top {
  padding: 20px 0;
}
.top-logo {
  text-decoration: none;
}
.top-logo-link {
  font-size: 14px;
}
.top-title {
  font-size: 24px;
}

/*# sourceMappingURL=main.css.map */
