.basic-page {
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.logo {
    text-decoration: none;
}

.logo__text {
    color: #ffffff;
    text-transform: uppercase;
}

.logo__text_size-lg {
    font-size: 36px;
}

/* HEADER */

.header {
    background-color: #9933cc;
    padding: 90px;
}

.header__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
}

.header__logo {
    margin-bottom: 20px;
}

.header__contacts {
    color: #ffffff;
    text-align:  center;
    margin-bottom: 20px;
}

.header__contacts-text {
    font-size: 18px;
    line-height: 1.5;
}

/* MAIN */

.main {
    padding: 25px 0;
}

.main__content {
    display: flex;
    flex-wrap: wrap;
}

.main__left-col {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.main__center-col {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.main__right-col {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}



/* MENU ASIDE */

.menu-aside {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-aside__item {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu-aside__link {
    text-decoration: none;
    color: #ffffff;
}

/* MAIN TEXT */

.main__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.main__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* BLOG ASIDE */

.aside-news {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

.aside-news__item {
    margin-bottom: 15px;
}

.aside-news__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aside-news__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.img-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img__item {
    width: 30%;
    height: 180px;
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* FOOTER */

.footer {
    background-color: #0099cc;

    padding: 20px;
    box-sizing: border-box;
}


.footer__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.footer__slogan {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.footer__contacts {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.footer__contacts-text {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}


/* Синтаксис медиа-запросов */
/*
@media (max-width: 768px) {
    
    .header__contacts{
        margin-top: 20px;
        width:100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .header__contacts-text {
        margin-right: 20px;
    }
    
    .main__left-col {
        width: 40%;
    }

    .main__center-col {
        width: 60%;
    }

    .main__right-col {
        width: 100%;
        padding: 0;
    }

    .aside-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .aside-news__item {
        flex: 0 0 33.3%;
      min-width: 25%; 
    }
    
    .footer__content{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    
    .header__content{
        flex-direction: column;
    }
    
    .header__title {
        margin-bottom: 20px;
    }
    
    .header__logo {
        margin-bottom: 20px;
    }
    
    .header__contacts {
        margin-top: 0;
        display: block;
    }
    
    .main__left-col {
        width: 100%;
    }
    
    .main__center-col {
        width: 100%;
    }
    
    .main__right-col {
        width: 100%;
    }
    
    .aside-news {
        display: block;
    }
}
*/
