@media (min-width: 576px) {
    .header__content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__title {
        width: 50%;
    }

    .header__logo {
        width: 50%;
    }

    .header__contacts {
        width: 50%;
    }

    .main__left-col {
        width: 40%;
        padding-right: 20px;
    }

    .main__center-col {
        width: 60%;
    }

    .aside-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aside-news__item {
        width: 33%;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .footer__slogan {
        width: 50%;
        text-align: left;
    }
    
    .footer__contacts {
        width: 50%;
        text-align: right;
    }
    
    .footer__contacts-text {
        text-align: right;
    }
}
