    /*
    Flaticon icon font: Flaticon
    Creation date: 05/01/2019 03:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-placeholder:before { content: "\f100"; }
.flaticon-world:before { content: "\f101"; }
.flaticon-hotel:before { content: "\f102"; }
.flaticon-cooking:before { content: "\f103"; }
.flaticon-guest:before { content: "\f104"; }
.flaticon-idea:before { content: "\f105"; }
.flaticon-handshake:before { content: "\f106"; }
.flaticon-chair:before { content: "\f107"; }
    
    $font-Flaticon-placeholder: "\f100";
    $font-Flaticon-world: "\f101";
    $font-Flaticon-hotel: "\f102";
    $font-Flaticon-cooking: "\f103";
    $font-Flaticon-guest: "\f104";
    $font-Flaticon-idea: "\f105";
    $font-Flaticon-handshake: "\f106";
    $font-Flaticon-chair: "\f107";