	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/01/2019 03:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-placeholder:before { content: "\f100"; }
.flaticon-world:before { content: "\f101"; }
.flaticon-hotel:before { content: "\f102"; }
.flaticon-cooking:before { content: "\f103"; }
.flaticon-guest:before { content: "\f104"; }
.flaticon-idea:before { content: "\f105"; }
.flaticon-handshake:before { content: "\f106"; }
.flaticon-chair:before { content: "\f107"; }