/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none
}

/* Box Model */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Container */

body {
    /* min-width: (containers) */
    min-width: 1200px;
}

.container {
    margin-left: auto;
    margin-right: auto;

    /* width: (containers) */
    width: 1200px;
}

/* Modifiers */

.container.small {
    /* width: (containers) * 0.75; */
    width: 900px;
}

.container.big {
    width: 100%;

    /* max-width: (containers) * 1.25; */
    max-width: 1500px;

    /* min-width: (containers); */
    min-width: 1200px;
}

/* Grid */

.\31 2u {
    width: 100%
}

.\31 1u {
    width: 91.6666666667%
}

.\31 0u {
    width: 83.3333333333%
}

.\39 u {
    width: 75%
}

.\38 u {
    width: 66.6666666667%
}

.\37 u {
    width: 58.3333333333%
}

.\36 u {
    width: 50%
}

.\35 u {
    width: 41.6666666667%
}

.\34 u {
    width: 33.3333333333%
}

.\33 u {
    width: 25%
}

.\32 u {
    width: 16.6666666667%
}

.\31 u {
    width: 8.3333333333%
}

.\-11u {
    margin-left: 91.6666666667%
}

.\-10u {
    margin-left: 83.3333333333%
}

.\-9u {
    margin-left: 75%
}

.\-8u {
    margin-left: 66.6666666667%
}

.\-7u {
    margin-left: 58.3333333333%
}

.\-6u {
    margin-left: 50%
}

.\-5u {
    margin-left: 41.6666666667%
}

.\-4u {
    margin-left: 33.3333333333%
}

.\-3u {
    margin-left: 25%
}

.\-2u {
    margin-left: 16.6666666667%
}

.\-1u {
    margin-left: 8.3333333333%
}

/* Rows */

.row > * {
    float: left;
}

.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row:first-child > * {
    padding-top: 0 !important;
}

.row.uniform > * > :first-child {
    margin-top: 0;
}

.row.uniform > * > :last-child {
    margin-bottom: 0;
}

/* Normal */

.row > * {
    /* padding-left: (gutters.vertical) */
    padding-left: 4em;
}

.row + .row > * {
    /* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
    padding: 0 0 0 4em;
}

.row {
    /* margin-left: -(gutters.vertical) */
    margin-left: -4em;
}

.row + .row.uniform > * {
    /* padding: (gutters.vertical) 0 0 (gutters.vertical) */
    padding: 4em 0 0 4em;
}

/* Flush */

.row.flush > * {
    padding-left: 0;
}

.row + .row.flush > * {
    padding: 0;
}

.row.flush {
    margin-left: 0;
}

.row + .row.uniform.flush > * {
    padding: 0;
}

/* Quarter */

.row.quarter > * {
    /* padding-left: (gutters.vertical * 0.25) */
    padding-left: 1em;
}

.row + .row.quarter > * {
    /* padding: (gutters.horizontal * 0.25) 0 0 (gutters.vertical * 0.25) */
    padding: 0 0 0 1em;
}

.row.quarter {
    /* margin-left: -(gutters.vertical * 0.25) */
    margin-left: -1em;
}

.row + .row.uniform.quarter > * {
    /* padding: (gutters.vertical * 0.25) 0 0 (gutters.vertical * 0.25) */
    padding: 1em 0 0 1em;
}

/* Half */

.row.half > * {
    /* padding-left: (gutters.vertical * 0.5) */
    padding-left: 2em;
}

.row + .row.half > * {
    /* padding: (gutters.horizontal * 0.5) 0 0 (gutters.vertical * 0.5) */
    padding: 0 0 0 2em;
}

.row.half {
    /* margin-left: -(gutters.vertical * 0.5) */
    margin-left: -2em;
}

.row + .row.uniform.half > * {
    /* padding: (gutters.vertical * 0.5) 0 0 (gutters.vertical * 0.5) */
    padding: 2em 0 0 2em;
}

/* One and (a) Half */

.row.oneandhalf > * {
    /* padding-left: (gutters.vertical * 1.5) */
    padding-left: 6em;
}

.row + .row.oneandhalf > * {
    /* padding: (gutters.horizontal * 1.5) 0 0 (gutters.vertical * 1.5) */
    padding: 0 0 0 6em;
}

.row.oneandhalf {
    /* margin-left: -(gutters.vertical * 1.5) */
    margin-left: -6em;
}

.row + .row.uniform.oneandhalf > * {
    /* padding: (gutters.vertical * 1.5) 0 0 (gutters.vertical * 1.5) */
    padding: 6em 0 0 6em;
}

/* Double */

.row.double > * {
    /* padding-left: (gutters.vertical * 2) */
    padding-left: 8em;
}

.row + .row.double > * {
    /* padding: (gutters.horizontal * 2) 0 0 (gutters.vertical * 2) */
    padding: 0 0 0 8em;
}

.row.double {
    /* margin-left: -(gutters.vertical * 2) */
    margin-left: -8em;
}

.row + .row.uniform.double > * {
    /* padding: (gutters.vertical * 2) 0 0 (gutters.vertical * 2) */
    padding: 8em 0 0 8em;
}

@media (max-width: 992px) {
    .\34 u {
        width: 50%
    }

    .\36 u {
        width: 100%
    }
}

@media (max-width: 576px) {
    .\34 u {
        width: 100%
    }

}
