.container {
    width: 1600px;

}

.header {
    width: 1600px;
    height: 900px;
    background-image: url("../image/Layer\ 21@1X.png");
}

.sertiz {
    font-size: 48px;
    color: white;
    text-transform: uppercase;
}

.awesome {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 28px;
    margin-top: 16px;
}

.awesome>span {
    text-transform: uppercase;
}

.we>span {
    color: #f1ad1d;
    text-align: left;
}

.header-container {
    padding-top: 531px;
    padding-left: 215px;
}

.we {
    border: 1px solid white;
    width: 831px;
    font-size: 54px;
    /* padding: 34.5px 30px;*/
    height: 129px;
    line-height: 2.5;
    padding-left: 30px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.2)
}

hr {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin-top: 52px;
    margin-bottom: 45px;
}

.award {
    width: 1600px;
}

.img-award {
    width: 300px;
    margin: 0 auto;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-bar>div {
    display: inline-block;
}

.nav-bar {
    width: 1169px;
    margin: 0 auto;
    border-bottom-width: 3px;
    border-bottom-color: #f1ad1d;
    border-bottom-style: solid;
    margin-top: 92px;
}

.nav-text {
    font-weight: bold;
    text-transform: uppercase;
    color: #f1ad1d;
    font-size: 24px;
}

.nav-list a {
    font-size: 18px;
    text-decoration: none;
    font-variant: small-caps;
    color: #7e7e7e;
    margin-left: 60px;
}

.nav-list {
    text-align: right;
    margin-left: 420px;
}

.header-pattern h2 {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.header-pattern div {
    font-size: 1em;
    color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-pattern hr {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    border: none;
}

.header-pattern {
    margin-top: 92px;
    background-color: white;
}

.header-pattern span {
    text-transform: capitalize;
}

.images4 {
    display: inline-block;
   

}

.consulting-text {
    display: inline-block;
    width: 561px;
    vertical-align: top;
}

.consulting-text h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    
}

.consulting-text h3 span {
    color: #f1ad1d;
}

.consulting-text>p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgba(80, 80, 80, 255);
    text-align: justify;
}
.consulting {
    margin: 0 auto;
    width: 1169px;
}
.consulting-text > div {
background-color: #f1ad1d;
height: 51px;
width: 176px;
text-align: center;
padding-top: 15px;
box-sizing: border-box;
margin-top: 48px;

}
.consulting-text a {
    text-decoration:none;
    color:#fff;
    font-size: 14px;

}
.images4 img {
margin-right: 30px;
margin-top: 22px;
}
.speed {
    background-image: url("../image/Layer\ 22@1X.png");
    width: 1600px;
    height: 380px;

}