/*.flex-container {*/
  /*max-width: 90%;*/
  /*margin: 0 auto;*/

  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
/*}*/

/*.flex-child {*/
  /*flex-basis: 160px;*/
  /*height: 80px;*/
  /*background-color: teal;*/
  /*margin: 5px;*/
  /*font-size: 24px;*/
  /*color: white;*/
/*}*/
/*.flex-child:nth-of-type(2n){*/
  /*flex-basis: 200px;*/
  /*height: 181px;*/
/*}*/

.block-logo{
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 175px;
  padding-bottom: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.company-logos{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.block-logo-title{
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-family: sans-serif;
  position: relative;
  margin-bottom: 70px;

}

.block-logo-title span{
  color: #f1ad1d;
}

.block-logo-title:after{
  content: "";
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f1ad1d;
  position: absolute;
  top: 30px;
  left: 100px;
}



















