@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-example ($content: "flex-start", $items: "baseline") {
    display: flex;
    flex-wrap: wrap;
    justify-content: $content;
    align-items: $items;
}

@mixin flex-center {
    @include flex;
    justify-content: center;
}

@mixin flex-center-center {
    @include flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between{
    @include flex;
    justify-content: space-between;
}

@mixin flex-around{
    @include flex;
    justify-content: space-around;
}

@mixin padding($top: 0, $right:  0, $bottom: 0, $left: 0){
    padding: $top $right $bottom $left;
}


    