.callme-btn{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: green;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition: 1s transform, 0.8s bottom;
}

.callme-btn::after {
  content: '';
  position: absolute;
  top: -45px;
  left: calc(100% / 2 - 25px);
  display: inline-block;
  border: 25px solid transparent;
  border-bottom-color: green;
}

.callme-btn:hover{
  bottom:100px;
  transform: scale(1.25) rotate(360deg);
}
.preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid red;
  border-top-color: transparent;
  animation: preloader-animation 1s infinite linear;
}
.preloader-inner {
  width: 125px;
  height: 125px;
  border: 5px solid red;
  border-top-color: transparent;
  border-radius: 50%;
  animation: preloader-animation 0.5s infinite reverse linear;
}
@keyframes preloader-animation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}





























